@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.025rem;
  scroll-behavior: smooth;
}
.landing {
  animation: fade-up 650ms 400ms backwards;
}
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

body {
  padding-top: 32px;
  display: block;
}
ul {
  list-style-type: none;
}

nav {
  display: flex;
  padding-bottom: 0.25rem;
}

header {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h3 {
  font-size: 1.17em;
}
a {
  text-decoration: none;
  color: #243e63;
  margin: 0px 1.5rem;
}
p {
  margin: 0px;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.nav__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.row {
  width: 100%;
  margin: 0 auto;
}

.logo {
  margin-right: 0.75rem;
  width: 2.5rem;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.light__desktopnavlinks {
  display: flex;
  flex: 1 1 0%;
  align-items: center;
  justify-content: space-between;
  color: rgba(36, 62, 99);
}
.light__navlink--logo {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: 0.025rem;
  margin: 0 24px 0 0;
  padding: 0 0 4px;
}
.light__navlinks {
  color: rgb(36, 62, 99);
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .light__navlinks {
    display: none;
  }
}

.light__navlink {
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.025em;
}
.nav__link--primary {
  margin-left: 3rem !important;
}

.nav__link--secondary {
  border-radius: 9999px;
  background-color: rgb(100 21 255);
  color: rgb(247 250 252);
  padding: 12px 32px;
  margin: 0% !important;
}

/* TWO COlUMN */
.twocolumn__container {
  position: relative;
}
.twocolumn__twocolumn {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  max-width: 1280px;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 1024px) {
  .twocolumn__twocolumn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.twocolumn__leftside--headertext {
  color: rgb(100, 21, 255);
}
.twocolumn__header {
  font-size: 3rem;
  line-height: 1.25;
  color: rgb(26, 32, 44);
}
@media (max-width: 1024px) {
  .twocolumn__header {
    font-size: 32px;
    width: 100%;
    text-align: center;
    margin: 0;
  }
}
.twocolumn__paragraph {
  font-size: 1.125rem;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  margin: 0px;
}
@media (max-width: 1024px) {
  .twocolumn__paragraph {
    font-size: 16px;
    margin: 20px 0;
    text-align: center;
    font-weight: 400;
  }
}
@media (max-width: 1024px) {
  .twocolumn__picture--container {
    padding: 56px 96px 0px 96px;
  }
}

.twocolumn__leftside {
  width: 42%;
  text-align: left;
  line-height: 1.5;
  margin-top: 2rem;
  color: rgb(36, 62, 99);
}
@media (max-width: 728px) {
  .twocolumn__leftside {
    width: 90%;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .twocolumn__leftside {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 728px) {
  .twocolumn__leftside {
    width: 90%;
  }
}

.twocolumn__action {
  margin-left: 0px;
  margin-right: 0px;
  position: relative;
  max-width: 28rem;
  text-align: center;
  width: 100%;
}
@media (max-width: 1024px) {
  .customerlogo__para {
    font-size: 14px;
  }
}

.email {
  width: 100%;
  border-radius: 9999px;
  border-width: 2px;
  font-size: 16px;
  font-weight: 500;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  text-align: left;
  padding-left: 32px;
  border: 1px solid rgb(226, 232, 240);
}
.email__button {
  position: absolute;
  width: 10rem;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: rgb(100, 21, 255);
  color: white;
  font-weight: 700;
  font-size: 16px;
  margin: 8px 8px 8px 0px;
  padding: 16px 0px;
  border: none;
}

@media (max-width: 640px) {
  .email__button {
    position: relative;
    width: 100%;
    padding: 20px 32px;
    text-align: center;
    display: block;
  }
}
.twocolumn__customerlogo {
  margin-top: 80px;
  font-size: 12px !important;
  font-weight: 700;
  color: #a0aec0;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .twocolumn__customerlogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
  }
}

.customer__logo--strip {
  width: 100%;
  margin-top: 1rem;
  opacity: 0.5;
}
.logo__wrapper {
  margin: 0;
}

@media (max-width: 1024px) {
  .logo__wrapper {
    max-width: 700px;
    width: 100%;
  }
}

.twocolumn__rightside {
  margin-top: 0px;
  align-self: flex-end;
  position: relative;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  justify-content: center;
}
.rightside__picture {
  width: 100%;
  height: 100%;
}

/* Service Section */
.threecolumn__container {
  position: relative;
}
.service__column {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  flex-wrap: wrap;
  margin-right: 68px;
  margin-left: 68px;
  margin: 0 auto;
}

.threecolumn__columncontainer {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  flex-wrap: wrap;
  margin-right: 68px;
  margin-left: 68px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .threecolumn__columncontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}
.threecolumn__subheading {
  margin-bottom: 1rem;
}
.features {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: rgb(100, 21, 255);
  display: flex;
  justify-content: center;
}
.threecolumn__heading {
  width: 100%;
  font-size: 48px;
  text-align: center;
  font-weight: 900;
  letter-spacing: 0.025em;
  margin: 0px;
  color: #243e63;
}
@media (max-width: 1024px) {
  .threecolumn__heading {
    font-size: 36px;
  }
}
.service {
  color: rgb(100, 21, 255);
}
.threecolumn__paragraph {
  width: 100%;
  margin-top: 1rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625;
  color: rgb(124, 139, 161);
  max-width: 36rem;
  text-align: center;
}
.threecolumn__verticalspace {
  margin-top: 2.5rem;
  width: 100%;
}
.threecolumnwithimage__column {
  width: 33.33%;
  max-width: 24rem;
}
.threecolumnwithimage__card {
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  height: 100%;
  padding: 2rem 0.5rem;
}
@media (max-width: 640px) {
  .threecolumnwithimage__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .threecolumnwithimage__column {
    width: 50%;
  }
}

.imageContainer {
  flex-shrink: 0;
  border-radius: 9999px;
  border-width: 8px;
  padding: 1.25rem;
  text-align: center;
  border-style: solid;
  border-color: rgb(226, 232, 240);
}
@media (max-width: 780px) {
  .imageContainer {
    margin-left: 20px;
  }
}
.shieldimage {
  height: 1.5rem;
  width: 1.5rem;
}
.textContainer {
  margin-left: 1rem;
  margin-top: 0.5rem;
}
.title {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.025em;
  color: #243e63;
}
.description {
  margin-top: 1rem;
  font-weight: 500;
  line-height: 2;
  --tw-text-opacity: 1;
  color: rgb(124 139 161);
}

/* Design Section (3rd) */

.twocolumnwithbutton__container {
  position: relative;
}
.twocolumnwithbutton__twocolumn {
  flex-direction: row;
  padding-bottom: 6rem;

  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1280px;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 728px) {
  .twocolumnwithbutton__twocolumn {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-left: 60px;
  }
}

.twocolumnwithbutton__column,
.twocolumnwithbutton__imagecolumn {
  position: relative;
  flex-shrink: 0;
}
.twocolumnwithbutton__imagecolumn {
  width: 89%;
}
@media (max-width: 1200px) {
  .twocolumnwithbutton__imagecolumn {
    width: 80%;
  }
}
.twocolumnwithbutton__styledimage {
  width: 50%;
  border: 1px solid rgb(226, 232, 240);
}
@media (max-width: 728px) {
  .twocolumnwithbutton__styledimage {
    width: 80%;
    margin-left: 10px;
  }
}

.Quality {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: rgb(100, 21, 255);
  justify-content: center;
}
.twocolumnwithbutton__textcolumn {
  margin-right: 4rem;
  order: -9999;
  margin-top: 0px;
  width: 50%;
}
@media (max-width: 728px) {
  .twocolumnwithbutton__textcolumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
  }
}
.twocolumnwithbutton__textcontent {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.twocolumnwithbutton__subheading {
  text-align: left;
}
@media (max-width: 728px) {
  .twocolumnwithbutton__subheading {
    text-align: center;
    margin-right: 20px;
  }
}
.twocolumnwithbutton__heading {
  font-size: 3rem;
  color: #243e63;
  text-align: left;
  margin-top: 1rem;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: 0.025em;
}
@media (max-width: 640px) {
  .twocolumnwithbutton__heading {
    font-size: 30px;
    text-align: center;
  }
}
@media (max-width: 728px) {
  .twocolumnwithbutton__heading {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .twocolumnwithbutton__heading {
    font-size: 36px;
  }
}
.twocolumnwithbutton__paragraph {
  font-size: 1.125rem;
  margin-top: 1rem;
  font-weight: 500;
  line-height: 1.625;
  color: rgb(124, 139, 161);
}
.twocolumnwithbutton__button {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 2rem;
  display: inline-block;
  font-size: 0.875rem;
  border-radius: 9999px;
  border-color: white;
  background-color: rgb(100 21 255);
  color: rgb(247 250 252);
  padding: 0.75rem 2rem;
  font-weight: 700;
  border: none;
}

/* Third Section - Steps Section */

.twocolumswithsteps__container {
  position: relative;
}

.twocolumnswithsteps__twocolumns {
  padding-bottom: 6rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1280px;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 728px) {
  .twocolumnswithsteps__twocolumns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.twocolumnswithsteps__imagecolumn {
  width: 50%;
  position: relative;
  flex-shrink: 0;
  margin-left: 0px;
  margin-right: 0px;
  max-width: none;
}
@media (max-width: 728px) {
  .twocolumnswithsteps__imagecolumn {
    margin-bottom: 48px;
    margin-left: 35px;
  }
}
.twocolumnswithsteps__image {
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}
.twocolumnswithsteps__textcolumn {
  margin-left: 4rem;
  margin-top: 0px;
  width: 50%;
}
@media (max-width: 728px) {
  .twocolumnswithsteps__textcolumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
.twocolumnswithsteps__textcontent {
  padding-bottom: 2rem;
  text-align: left;
}
@media (max-width: 728px) {
  .twocolumnswithsteps__subheading {
    text-align: center;
  }
}
.twocolumnswithsteps__heading {
  font-size: 48px;
  margin-top: 0px;
  font-weight: 900;
  line-height: 1.25;
  margin-top: 16px;
  color: #243e63;
}
@media (max-width: 640px) {
  .twocolumnswithsteps__heading {
    font-size: 30px;
  }
}
@media (max-width: 728px) {
  .twocolumnswithsteps__heading {
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .twocolumnswithsteps__heading {
    font-size: 36px;
  }
}
.pricing__para {
  text-align: center;
}

.twocolumnswithsteps__steps {
  list-style-type: none;
}
@media (max-width: 728px) {
  .twocolumnswithsteps__steps {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.twocolumnswithsteps__step {
  display: flex;
  margin-top: 32px;
}
@media (max-width: 728px) {
  .twocolumnswithstep__step {
    display: flex;
    flex-direction: column;
  }
}
.twocolumnswithsteps__stepnumber {
  color: #cbd5e0;
  font-size: 36px;
  line-height: 1.25;
}
@media (max-width: 728px) {
  .twocolumnswithsteps__stepnumber {
    text-align: center;
    margin-bottom: 4px;
  }
}
.twocolumnswithsteps__steptext {
  margin-left: 24px;
}

.twocolumnswithsteps__stepheading {
  margin-top: 0px;
  color: #243e63;
}
.twocolumnswithsteps__steppara {
  margin-top: 12px;
  font-weight: 400;
  color: #718096;
}

/* Fourth Section - Values */

.values__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 728px) {
  .values__container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}
.values__leftcolumn {
  width: 45%;
}
@media (max-width: 728px) {
  .values__leftcolumn {
    width: 75%;
  }
}
.values__leftcolumn--para {
  font-size: 18px;
  margin-top: 32px;
  margin-bottom: 24px;
  font-weight: 500;
  color: #7c8ba1;
}
@media (max-width: 728px) {
  .values__leftcolumn--para {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    width: 75%;
  }
}
@media (max-width: 1024px) {
  .values__leftcolumn--para {
    font-size: 16px;
    margin-bottom: 0;
  }
}

@media (max-width: 728px) {
  .values__leftcolumn--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.values__about--wrapper {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .values__about--wrapper {
    flex-direction: column;
  }
}
.values__about {
  margin-right: 24px;
}
@media (max-width: 728px) {
  .values__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}
.values__about--header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  text-align: left;
}
@media (max-width: 1024px) {
  .values__about--header {
    margin-top: 24px;
  }
}
.values__about--title {
  margin-left: 16px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #243e63;
}
.values__about--para {
  color: #718096;
  text-align: left;
  margin-top: 16px;
}
@media (max-width: 728px) {
  .values__about--para {
    text-align: center;
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  .values__about--para {
    width: 80%;
  }
}
.values__about--button {
  background-color: #6415ff;
  color: #f7fafc;
  border-radius: 9999px;
  padding: 0.75rem 2rem;
  border: 0px transparent;
  font-weight: 600;
  font-size: 14px;
}
.values__rightcolumn {
  width: 50%;
  display: flex;
  align-items: center;
}
@media (max-width: 728px) {
  .values__rightcolumn {
    width: 80%;
  }
}
.values__img {
  width: 100%;
}

.fa-dollar-sign {
  padding: 8px 12px;
  background-color: rgb(154 230 180);
  border: transparent;
  border-radius: 9999px;
}
.fa-suitcase {
  padding: 8px;
  background-color: #feb2b2;
  border: transparent;
  border-radius: 9999px;
}

/* Pricing section - Fourth */

.pricing__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing__container {
  padding-top: 96px;
}
.plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .plans {
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .plans {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.plan {
  width: calc(100% / 3 - 32px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: transparent;
  border-radius: 8px;
  margin-top: 64px;
  margin-right: 32px;
}
@media (max-width: 640px) {
  .plan {
    width: 80%;
  }
}
@media (max-width: 728px) {
  .plan {
    margin-right: 0;
  }
}
@media (max-width: 1024px) {
  .plan {
    width: 45%;
    margin-right: 0;
  }
}
.plan__red {
  border: 2px solid rgb(226, 232, 240);
}
.plan__personal {
  border: 2px solid rgb(226, 232, 240);
}
.glow__green {
  height: 0.5rem;
  width: 101%;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.plan__header {
  padding: 32px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}
.type {
  font-size: 20px;
  color: #1a202c;
  margin: 0;
}
.price {
  margin: 4px 0;
  font-size: 48px;
  color: #1a202c;
}
.duration {
  font-size: 16px;
  color: #a0aec0;
}
.plan__features {
  border-bottom: 2px solid rgb(226, 232, 240);
  border-top: 2px solid rgb(226, 232, 240);
  text-align: center;
  padding: 32px;
  width: 100%;
}
.group {
  color: #243e63;
  margin: 0;
}
.feature__para {
  margin-top: 20px;
  font-weight: 400;
  color: #7c8ba1;
}
.plan__action {
  padding: 32px;
  width: 100%;
}
.action__button {
  padding: 16px 32px;
  border-radius: 9999px;
  font-weight: 700;
  font-size: 14px;
  border: transparent;
  width: 100%;
}
.action__button--green {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  color: #f7fafc;
}
.plan__business {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.feature__para--blue {
  color: white;
}
.type__blue {
  color: white;
}
.group__blue {
  color: white;
}
.price__blue {
  color: white;
}
.duration__blue {
  color: white;
}
.action__button--red {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}
.glow__red {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  height: 0.5rem;
  width: 101%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

/* Testimonals */

.testimonials__container {
  display: flex;
  justify-content: space-between;
  padding: 96px 0;
}
@media (max-width: 728px) {
  .testimonials__container {
    flex-direction: column;
    align-items: center;
  }
}
.testimonals__left {
  width: 45%;
  display: flex;
  align-items: center;
}
@media (max-width: 728px) {
  .testimonials__left {
    width: 80%;
    margin-bottom: 64px;
  }
}

.left__img {
  width: 100%;
}
.testimonals__about {
  margin-top: 16px;
}
.testimonals__right {
  width: 45%;
}
@media (max-width: 728px) {
  .testimonals__right {
    text-align: center;
    width: 80%;
  }
}

.testimonals__para {
  margin-top: 24px;
  font-weight: 400;
  color: #7c8ba1;
}
.stars__wrapper {
  color: #fabf2a;
}
.testimonals__about--title {
  font-size: 20px;
}
.testimonals__about--para {
  color: #4a5568;
  margin: 16px 0 40px;
}
.testimonals__id {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 640px) {
  .testimonals__id {
    flex-direction: column;
    justify-content: center;
  }
}

.info__wrapper {
  display: flex;
  align-items: center;
}
@media (max-width: 640px) {
  .info__wrapper {
    flex-direction: column;
  }
}
.photo__wrapper {
  max-width: 96px;
  margin-left: 0px;
}
@media (max-width: 1024px) {
  .photo__wrapper {
    max-width: 80px;
    margin: 0;
  }
}

.photo {
  border: transparent;
  border-radius: 9999px;
  width: 100%;
}
@media (max-width: 1024px) {
  .photo {
    width: 100%;
  }
}
.name-position__wrapper {
  margin-left: 24px;
}
.name {
  font-size: 20px;
  color: #243e63;
  margin: 0px;
  margin-right: 20px;
}
.position {
  font-weight: 400;
  color: #7c8ba1;
  margin-right: 12px;
}
.testimonals__btn {
  border: transparent;
  border-radius: 9999px;
  padding: 12px 16px;
  margin-right: 12px;
}
.testimonals__btn--wrapper {
  margin-left: 10px;
}
@media (max-width: 640px) {
  .testimonals__btn--wrapper {
    margin-top: 12px;
  }
}
@media (max-width: 728px) {
  .testimonals__btn--wrapper {
    display: flex;
  }
}
/* FAQs */

.faq__container {
}
.faq__subheader {
  margin-bottom: 16px;
}
.faq__header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}
.faq__title {
  margin: 0;
}
.faq__para {
  width: 80%;
  margin-top: 12px;
  font-weight: 400;
  color: #7c8ba1;
}
.questions__list {
  list-style-type: none;
}
.questions__list--item {
  background-color: #edf2f7;
  margin-bottom: 12px;
  padding: 16px 40px;
  border-radius: 4px;
}

/* Action */

.action__container {
  margin: 96px 0;
  padding: 64px 24px;
  background-color: #6415ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
}
@media (max-width: 640px) {
  .action__container {
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .action__container {
    flex-direction: column;
  }
}

.action__title {
  color: #f7fafc;
  font-size: 30px;
  width: 50%;
}
@media (max-width: 1024px) {
  .action__title {
    width: 80%;
    text-align: center;
    margin-bottom: 24px;
  }
}
.action__button--bottom {
  padding: 20px 40px;
  border-radius: 9999px;
  font-weight: 600;
  font-size: 16px;
  margin-left: 24px;
}
.action__btn--red {
  border: transparent;
  background-color: rgb(245 101 101);
  color: #f7fafc;
  transition: all 300ms ease;
}
.action__btn--purple {
  border-color: rgb(160 174 192);
  background-color: transparent;
  color: #f7fafc;
  transition: all 300ms ease;
  border: 1px solid;
}
#action {
  display: flex;
  justify-content: center;
}

/* FOOTER */
.footer__wrapper {
  background-color: rgb(100 21 255);
}
.footer__container {
  padding: 96px 32px 36px;
}
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  }
}
@media (max-width: 728px) {
  .links {
    display: flex;
    flex-wrap: wrap;
  }
}

.link {
  display: flex;
  flex-direction: column;
  width: auto;
}
@media (max-width: 640px) {
  .link {
    width: calc(100% / 4);
  }
}
@media (max-width: 728px) {
  .link {
    width: 30%;
    padding-top: 24px;
  }
}

.purple__link--header {
  margin-bottom: 12px;
  font-size: 16px;
}
.blue-white {
  color: white;
}
.footer__link--anchor {
  padding-bottom: 4px;
  margin: 12px 0 4px 0;
  font-size: 14px;
}
.divider__footer {
  margin: 64px 0;
  border-bottom: 2px solid rgb(116, 44, 255);
}
.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 728px) {
  .footer__info {
    display: flex;
    flex-direction: column;
  }
}

.footer__info--left {
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 800;
}
.footer__logo--wrapper {
  max-width: 32px;
  margin: 0;
}
.footer__logo {
  width: 100%;
  padding: 2px;
}
.footer__logo--header {
  margin-left: 8px;
}
.grey__footer {
  color: #cbd5e0;
  font-weight: 400;
}
@media (max-width: 728px) {
  .grey__footer {
    padding: 24px 0 28px 0;
  }
}

.footer__links {
  display: flex;
  justify-content: space-between;
  max-width: 100px;
  width: 100%;
  font-weight: 400;
  color: #f7fafc;
}

/* Button Menu */

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  color: #243e63;
  display: none;
}
@media (max-width: 1024px) {
  .btn__menu {
    display: block;
  }
}
.fa-solid .fas {
  font-weight: 900;
}
.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}
.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: white;
}
.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__link {
  font-size: 40px;
  color: white;
}
.menu__list {
  padding: 32px 0;
}
.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}
.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}
